{% load static %}
{% load core %}

<!DOCTYPE html>
<html>
	<head>
		<title>{{ TITLE }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
	</head>
	<body class="bg-black/10">
		<input id="nav-toggle" type="checkbox" class="peer hidden" />
		<nav
			class="fixed top-1/2 left-0 -translate-x-full -translate-y-1/2 border h-[90vh] sm:h-[800px] sm:max-h-[90vh] w-[70vw] sm:w-60 bg-white rounded-[0_30px_30px_0] px-5 flex items-center justify-center flex-col [&>*:not(label)]:w-full z-[999] peer-checked:translate-x-0 transition duration-300 shadow-sm"
		>
			<label
				for="nav-toggle"
				class="absolute top-1/2 left-full w-10 h-10 border rounded-full -translate-x-1/2 flex items-center justify-center border-white bg-blue-400 shadow-[0_0_5px] shadow-black/20"
			></label>
			<div class="flex items-center justify-center py-5">
				<a href="/">
					<h2 class="text-3xl font-bold text-center h-fit w-full">Lorem</h2>
				</a>
			</div>
			<div class="h-full">
				<details class="[&>summary>i]:open:rotate-180">
					<summary
						class="border-b font-bold py-2 px-2 flex items-center justify-between"
					>
						<h3>ACCOUNT</h3>
						<i class="fa-regular fa-chevron-down transition"></i>
					</summary>
					<ul class="my-1 text-gray-600 text-sm">
						{% if request.user.is_authenticated %}
						<a
							href="{% url 'account:detail' request.user.id %}"
							class="py-1 px-2 bg-gray-300 rounded-md transition flex items-center my-1 shadow-lg active:scale-95 active:shadow-none"
						>
							{% if request.user.profile.img.name %}
							<img class="w-10 h-10 object-cover object-center rounded-full flex-shrink-0" src="{% media request.user.profile.img.name %}" alt="{{ request.user.profile.img.name }}">
							{% else %}
							<i class="h-10 w-10 fa-solid fa-circle-user text-4xl flex-shrink-0 text-black/30"></i>
							{% endif	%}
							<div class="w-full px-2 child:w-full flex flex-col child:h-5 items-center justify-center">
								<h4 class="border-b-[1px] border-black">{{ request.user.username }}</h4>
								<small class="font-bold">{{ request.user.profile.role }}</small>
							</div>
						</a>
						{% if not request.user.profile %}
						<li
							class="py-2 px-2 hover:text-blue-500 hover:bg-blue-50/50 rounded-md transition"
						>
						<a href="{% url 'account:profile' %}"
							 ><i class="fa-regular fa-arrow-right-to-bracket"></i>
								<span class="ml-1">create profile</span></a
							>
						</li>
						{% endif %}
						<li
							class="py-2 px-2 hover:text-blue-500 hover:bg-blue-50/50 rounded-md transition"
						>
						<a href="{% url 'account:logout' %}"
							 ><i class="fa-regular fa-arrow-right-from-bracket"></i>
								<span class="ml-1">logout</span></a
							>
						</li>
						{% else %}
						<li
							class="py-2 px-2 hover:text-blue-500 hover:bg-blue-50/50 rounded-md transition"
						>
						<a href="{% url 'account:login' %}"
							 ><i class="fa-regular fa-arrow-right-to-bracket"></i>
								<span class="ml-1">login</span></a
							>
						</li>
						<li
							class="py-2 px-2 hover:text-blue-500 hover:bg-blue-50/50 rounded-md transition"
						>
						<a href="{% url 'account:register' %}"
							 ><i class="fa-regular fa-user"></i>
								<span class="ml-1">register</span></a
							>
						</li>
						{% endif	%}
					</ul>
				</details>
				{% for nav in request.nav %}
				<details class="[&>summary>i]:open:rotate-180">
					<summary
						class="border-b font-bold py-2 px-2 flex items-center justify-between"
					>
						<h3>{{ nav.name }}</h3>
						<i class="fa-regular fa-chevron-down transition"></i>
					</summary>
					<ul class="my-1 text-gray-600 text-sm">
						{% for link in nav.links %}
						<li
							class="py-2 px-2 hover:text-blue-500 hover:bg-blue-50/50 rounded-md transition"
						>
							<a href="{{ link.url }}"
								>{{ link.icon|safe }}
								<span class="ml-1">{{ link.name }}</span></a
							>
						</li>
						{% endfor %}
					</ul>
				</details>
				{% endfor %}
			</div>
			{% if request.user.is_authenticated %}
			<div class="py-5 hover:text-blue-500">
				<a href="{% url 'account:settings' %}"><i class="fa-regular fa-gear mr-2"></i>setting</a>
			</div>
			{% endif %}
		</nav>
		<main
			class="transition peer-checked:bg-black/10 min-h-screen peer-checked:blur-xl max-w-[750px] m-auto bg-white"
		>
				{% block body %} {% endblock %}
		</main>
		<script></script>
	</body>
</html>
